<form action="../save/" method='post'>
<div class="row">
    <div class="small-12 columns">
        <label for="page_name">اسم الصفحة:</label>
        <input type="text" id="page_name" name="page_name" value="{{ printf "%s" .page_name }}">
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <label for="page_content">محتويات الصفحة:</label>
        <textarea id="page_content" name="page_content">{{ printf "%s" .page_content }}</textarea>
    </div>
</div>

<div class="row">
    <div class="small-12 columns" id="metadata">
        <label for="page_metadata">معلومات اضافية (بصيغة JSON):</label>
        <input type="text" id="page_metadata" name="page_metadata" value="{{ printf "%s" .page_metadata }}">
    </div>
</div>

<div class="row">
    <div class="small-11 columns">
        <button type="submit">احفظ</button>
    </div>
    <div class="small-1 columns align-left">
        <a href="#" class="" id="metadata-button"><img src="../static/gear.png"></a>
    </div>
</div>
</form>

<script src="../static/jquery.autosize-min.js"></script>
<script>
$(function() {

    // copied from http://stackoverflow.com/questions/499126/jquery-set-cursor-position-in-text-area
    function setSelectionRange(input, selectionStart, selectionEnd) {
        if (input.setSelectionRange) {
            input.focus();
            input.setSelectionRange(selectionStart, selectionEnd);
        }
        else if (input.createTextRange) {
            var range = input.createTextRange();
            range.collapse(true);
            range.moveEnd('character', selectionEnd);
            range.moveStart('character', selectionStart);
            range.select();
        }
    }

    function insert_at_caret(text_to_add) {
        var txtarea = $("#page_content");
        var caret_pos = txtarea.get(0).selectionStart;
        var org_txt = txtarea.val();
        var new_txt = org_txt.substring(0, caret_pos) + text_to_add + org_txt.substring(caret_pos);
        txtarea.val(new_txt);
        setSelectionRange(txtarea.get(0), caret_pos + text_to_add.length, caret_pos + text_to_add.length)
        txtarea.trigger('autosize');
    }

    $(document).keyup(function(e) {
        // ctrl+alt+t = Add date & time
        if(e.ctrlKey && e.altKey && e.which == 84) {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var min = date.getMinutes();
            var h = date.getHours();
            var date_time = d + "/" + m + "/" + y + " | " + h + ":" + min;
            insert_at_caret(date_time + '\n');
        }

        // ctrl+alt+- = Add dashes
        if(e.ctrlKey && e.altKey && e.which == 189) {
            insert_at_caret(Array(60).join('-') + '\n');
        }

    });

    $('#page_content').autosize();
    $('#page_content').trigger('autosize');

    $("#metadata").hide();
    $("#metadata-button").click(function() {
       $(this).fadeOut('fast');
       $("#metadata").fadeIn('fast', function() {
           $("#page_metadata").focus();
       })
    });
})
</script>